<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guikai.test">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".index.IndexActivity">

        </activity>

        <activity android:name=".helloworld.HelloWorld"/>

        <activity
            android:name=".utils.FullActivity"
            android:theme="@style/ActivityFullscreen">
        </activity>

        <activity android:name=".utils.HideActionBar"/>

        <activity
            android:name=".guidepage.GuideActivity"
            android:theme="@style/ActivityFullscreen"/>

        <activity android:name=".sliding_tab_layout.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".widgets.Spinner" />

        <activity android:name=".widgets.ViewPager"/>

        <activity android:name=".styleview.LoginStyle"/>

        <activity android:name=".datasave.FileSave"/>

        <activity android:name=".updatedialog.UpdateApk"/>

        <activity android:name=".floatwindow.FloatWindow"/>

        <service android:name=".floatwindow.FloatingButtonService"/>

        <service android:name=".floatwindow.FloatingImageDisplayService"/>

        <service android:name=".floatwindow.FloatingVideoService"/>

        <activity android:name=".index.TestActivity">
            <intent-filter>
                <action android:name="guikai"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".vlayout.VLayoutActivity"/>

        <receiver android:name=".broadcast.MyBroadCastReceiver"/>

        <activity android:name=".broadcast.BroadActivity"/>

        <activity android:name=".broadcast.LocalActivity"/>

        <activity android:name=".broadcast.outline.LoginActivity"/>

        <activity android:name=".broadcast.outline.MainActivity"/>

        <activity android:name=".mdwidget.MdActivtiy"
            android:theme="@style/ActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mdwidget.AppbarlayoutActivity"
            android:theme="@style/NoStatus">

        </activity>


    </application>

</manifest>